.App-nav {
  justify-content: space-between;
}

.App-nav, .Nav-brand {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 1.5rem 0;

  h1 {
    color: #1C9CEA;
    margin: 0 2rem;
  }

  a {
    text-decoration: none;
  }

  a, p {
    margin: 0 1.5rem;
    color: #ffff;
  }
}